<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

<bean id='datapack5G' class= 'inter.view.quest.datapack'>
	<property name="packsize" value="25" />
	<property name="signaltype" value="5G" />
</bean>
        
<bean id='datapack4G' class= 'inter.view.quest.datapack'>
	<property name="packsize" value="16" />
	<property name="signaltype" value="4G" />
</bean>

<bean id="sim" class='inter.view.quest.Airtel'>

</bean>

</beans>